<a href="https://colab.research.google.com/github/nielsboogaard/pythoncrashcourse/blob/main/PythonCrashCourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python crash course

Welcome to the most basic and incomplete Python crash course. This part just teaches you the basics of the Python language that you need to work with the assignment later on. If you get stuck, google is your friend. I personally like this cheat sheet: https://www.pythoncheatsheet.org.

The first thing to do is to write a line that prints out "Hello World!".

TIP
To print, you need the python command *print*

In [2]:
print("Hello World!")

Hello World!

Use the next code window to accomplish the following steps:
- Create a loop that prints "Hello World!" 5 times and prepend each line with the counter (TIP: use *for* and *range* and *print(f'text {code}'*)
- Move the loop into a separate function and call the function. (TIP: use *def*)
- Pass a parameter to the function that is used to print the messages the specified number of times
- Replace the hard coded "Hello World" message with a parameter containing the message

In [10]:
def printMsg(msg, amount):
  for i in range(amount):
    print(f'{i} {msg}')

printMsg('Hello World!', 5)

0 Hello World!
1 Hello World!
2 Hello World!
3 Hello World!
4 Hello World!

In the next code block, we start working with lists. Lists are very powerful, still libraries like **numpy** add a lot of advanced features to lists. Use the next code window to accomplish the following tasks:
- Import the numpy library with the line *import numpy as np*
- Create a list containing the numbers 1 to 10 and print them (TIP use *list* and *range*)
- Create a new list containing 10 random numbers between 0 and 100 and print them (TIP use *numpy.random.randint*)
- Calculate the average of the created list in the previous step

In [32]:
import numpy as np

def calculateAverage(list): 
    avg = sum(list) / len(list) 
    return avg;

randomList = np.random.randint(low=0,high=100, size=10)
print(randomList)
print(f'Average is {calculateAverage(randomList)}');

[90 11 78 67 53 36 66 84 94 61]
Average is 64.0

The multi dimensional list contains the numbers 1 to 9 in text. Can you create a one dimensional list from the provided multi dimensional list and print the list?

The following line defines the input:

`some_numbers = [["one", "two", "three", "four"], ["five", "six"], ["seven", "eight", "nine"]]`

Tip: with `for sub in something` you can iterate all items in something

In [35]:
some_numbers = [["one", "two", "three", "four"], ["five", "six"], ["seven", "eight", "nine"]]

flattened = []

for subList in some_numbers:
  for item in subList:
      flattened.append(item)

flattened

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

Next we will start using one of the most popular Python libraries around: Pandas. Pandas can best be compared to excel. You have rows and columns, can add filters, macros, etc. You cannot learn about machine learning without using pandas.

If you are here after listening to my introduction, you should be familiar with the following sample. It has to do with a story about a broken washing machine and deciding about what washing machine to buy. The amount of data is very limited. But we can work on some important aspects.
```
washingmachine_data = {
    "ID" : ["M-20220-1", "AEG-20010-9", "M-20210-3", "B-20221-7"],
    "Brand" : ["Miele", "AEG",  "Miele", "Bosch"],
    "Price" : [1269, 653, 923, 950],
    "Load Capacity": ["8 kg", "9 kg", "6 kg", "8 kg"],
    "Drying result": ["B", "C", "B", "B"],
    "Sound level": ["70 dB", "68 dB", "69 dB", "70 dB"],
    "WiFi": [True, False, False, False],
    "Energy label":  ["A", "B", "A", "A"],
    "Automated dispensing": [True, True, False, True],
    "Rating": ["5 stars", "3 stars", "4 stars" "5 stars"]
}
```
Using the pandas library, try out the following excercises:
- Show the first two rows of the data using the head function
- Show the names of the columns of the data
- Filter the data to only find washing machines from *Miele*

In [43]:
washingmachine_data = {
    "ID" : ["M-20220-1", "AEG-20010-9", "M-20210-3", "B-20221-7"],
    "Brand" : ["Miele", "AEG",  "Miele", "Bosch"],
    "Price" : [1269, 653, 923, 950],
    "Load Capacity": ["8 kg", "9 kg", "6 kg", "8 kg"],
    "Drying result": ["B", "C", "B", "B"],
    "Sound level": ["70 dB", "68 dB", "69 dB", "70 dB"],
    "WiFi": [True, False, False, False],
    "Energy label":  ["A", "B", "A", "A"],
    "Automated dispensing": [True, True, False, True],
    "Rating": ["5 stars", "3 stars", "4 stars", "5 stars"]
}
               
import pandas as pd

washingmachines = pd.DataFrame(washingmachine_data)

,ID,Brand,Price,Load Capacity,Drying result,Sound level,WiFi,Energy label,Automated dispensing,Rating
0,M-20220-1,Miele,1269,8 kg,B,70 dB,True,A,True,5 stars
2,M-20210-3,Miele,923,6 kg,B,69 dB,False,A,False,4 stars

In [44]:
washingmachines.head(2)

,ID,Brand,Price,Load Capacity,Drying result,Sound level,WiFi,Energy label,Automated dispensing,Rating
0,M-20220-1,Miele,1269,8 kg,B,70 dB,True,A,True,5 stars
1,AEG-20010-9,AEG,653,9 kg,C,68 dB,False,B,True,3 stars

In [46]:
washingmachines.columns

Index(['ID', 'Brand', 'Price', 'Load Capacity', 'Drying result', 'Sound level',
       'WiFi', 'Energy label', 'Automated dispensing', 'Rating'],
      dtype='object')

In [45]:
washingmachines[washingmachines["Brand"]=="Miele"]

,ID,Brand,Price,Load Capacity,Drying result,Sound level,WiFi,Energy label,Automated dispensing,Rating
0,M-20220-1,Miele,1269,8 kg,B,70 dB,True,A,True,5 stars
2,M-20210-3,Miele,923,6 kg,B,69 dB,False,A,False,4 stars

Next up, we want to somehow calculate the best washing machine. Therefore we are going to replace each column with a numeric value. For some of the columns we need a conversion table, for other we need a formula. In the next code block you see some of the conversions. After that the different code blocks show for each column what we are going to do.
- Brand: Some brands get higher preference than others. Check the conversion object
- Price: Need to normalize it between 0 and 1, notice the input parameter of the function
- Load Capacity: Strip kg from the input
- Drying result: Replace characters with a number, A being the highest and E being lowest
- Sound level: Lower sound is better
- Wifi: Replace boolean with 0 for False, 1 for True
- Energy label: Same as drying result
- Automated dispensing: Replace boolean with 0 for False, 1 for True
- Rating: 0-3 stars is 0, 4 stars is 0.5 and 5 stars is 1

Implement all functions in the code block below.

In [76]:
def convert_brand(brand):
    brands = {
        "Miele": 1,
        "Bosch": 0.9,
        "AEG": 0.2
    }

    return brands.get(brand)

def convert_rating(stars):
    # Use the strip function to remove specific characters
    return int(stars.strip(" stars"))

def convert_load_capacity(weight):
    # Use the strip function to remove specific characters
    return int(weight.strip(" kg"))

def convert_drying(drying):
    # Use ord to replace a character with a number, Z is the highest number, A should return the higher score
    return -abs(ord(drying)) + 70

def convert_sound(sound):
    # Use the strip function to remove specific characters
    return int(sound.strip(" dB"))

def convert_boolean(value):
    # Return 1 if true, 0 otherwise
    return 1 if value else 0

def normalize_price(df):
    # We need to normalize the values of the price column. 
    # Tip: you can do operations on complete columns: df[column_name] + 1 adds 1 to all values in the column
    # Tip: notice the function receives the complete DataFrame
    max_value = df['Price'].max()
    min_value = df['Price'].min()
    return (df['Price'] - min_value) / (max_value - min_value)

Use the code block below to see if all the functions work

In [77]:
wm_copy = washingmachines.copy()

wm_copy["Brand"] = washingmachines["Brand"].apply(convert_brand)
wm_copy["Price"] = normalize_price(wm_copy)
wm_copy["Load Capacity"] = washingmachines["Load Capacity"].apply(convert_load_capacity)
wm_copy["Drying result"] = washingmachines["Drying result"].apply(convert_drying)
wm_copy["Sound level"] = washingmachines["Sound level"].apply(convert_sound)
wm_copy["WiFi"] = washingmachines["WiFi"].apply(convert_boolean)
wm_copy["Energy label"] = washingmachines["Energy label"].apply(convert_drying)
wm_copy["Automated dispensing"] = washingmachines["Automated dispensing"].apply(convert_boolean)
wm_copy["Rating"] = washingmachines["Rating"].apply(convert_rating)

wm_copy.head()

,ID,Brand,Price,Load Capacity,Drying result,Sound level,WiFi,Energy label,Automated dispensing,Rating
0,M-20220-1,1.0,1.000000,8,4,70,1,5,1,5
1,AEG-20010-9,0.2,0.000000,9,3,68,0,4,1,3
2,M-20210-3,1.0,0.438312,6,4,69,0,5,0,4
3,B-20221-7,0.9,0.482143,8,4,70,0,5,1,5

With the new data set, we can implement the formula to sum all calculated parameters with their respective weights. With vectors we can use the dot product to accomplish the task. Read the following code block and try to understand what the code does.

In [78]:
weights = [1, 0.8, 0.5, 0.7, 0.7, 1, 0.4, 1, 1]

calc_df = wm_copy.drop('ID', axis=1)

best_washingmachine = calc_df.dot(weights).idxmax()
print(f'The winner is {washingmachines["ID"][best_washingmachine]}')

The winner is M-20220-1